body {
    width: 300px;
    padding: 10px;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    font-size: 18px;
    text-align: center;
  }
  
  #icerikler {
    margin-top: 10px;
  }
  
  .icerik {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 3px;
  }
  
  button:hover {
    background-color: #45a049;
  }